
  /* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
font-family:Arial, Helvetica, sans-serif;
}

html,
body {

    height: 100%;
    width: 100%;
}

.nav-bar {

    width: 100%;
    height: 60px;
    background-color: #131921;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    height: 45px;
    background-image: url("images/logo.jpeg");
    width: 100%;
    background-size: cover;


}

.border {

    border: 1px solid transparent;

}

.border:hover {

    border: 1px solid white;
}

.nav-part1 {
    font-size: 12px;
    /* height: 50px; */
    padding: 8px;
}

.p1 {

    color: #ccc;
}

.p2 {
    font-size: 18px;
    font-weight: 700;
}

.nav-search {
    width: 700px;
    height: 40px;
    display: flex;
    border: 2px solid transparent;

}
.search-icon{
display: flex;
justify-content: center;
align-items: center;
padding: 15px;
height: 40px;
background-color: #F3A847;
border-top-right-radius:5px ;
border-bottom-right-radius:5px ;
font-size: 20px;
}

.nav-search:hover {

    border: 2px solid orange;
    height: 44px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-select {
    height: 40px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #f3f3d3;
    width: 60px;
    border: none;
    text-align: center;
}

.placeholder {
    height: 40px;
    font-size: 16px;
    width: 100%;
    padding-left: 7px;
    /* border-top-right-radius: 5px; */
    /* border-bottom-right-radius: 5px; */
    border: none;
}

.nav-part3 {
    font-size: 14px;
    padding: 8px;

}

.part1 {
    color: #ccc;
    padding-left: 15px;
}

.part2 {
    font-size: 18px;
    font-weight: 700;
}

.order1 {
    padding-left: 5px;
}

.order2 {
    font-size: 16px;
    font-weight: 600;
}
.nav-part4{
    display: flex;
justify-content: center;
align-items: center;
padding: 5px;

}
.carticon{
margin-right: 4px;
font-size: 25px;
color: #F3A847;
}
.nav-part4 p{
margin-top: 9px;
font-size: 15px;
font-weight: 700;
}
.nav-bar2 {

    height: 40px;
    background-color: #232F3E;
    color: white;
    display: flex;
    align-items: center;
}

.first-list{
display: flex;
justify-content: center;
align-items: center;
margin-left: 5px;
padding: 7px;

gap: 10px;
}
.second-list {

    display: flex;
    margin: 15px;
}

.second-list p {
    padding: 7px;
}

.main {
    background-image: url("images/image1.jpeg");
    width: 100%;
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.container {

    height: 42px;
    width: 95%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background-color: white;
    margin-bottom: 40px;
}

.para a {
    color: #007185;
    padding-left: 13px;

}

.para a:hover {
    cursor: pointer;
    color: #ff0000b7;
}

.box-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    background-color: #B3C8C9;

}

.box {
    height: 400px;
    width: 23%;
    padding: 15px 0px 15px;
    background-color: white;
    margin-bottom: 15px;
}
.box-item {

    margin-left: 15px;

}

.box-img {
    height: 300px;
    background-size: cover;
    margin-right: 15px;
    margin-top: 15px;
}

.box h2 {

    font-size: 16px;
font-weight: 700;
}

.box p {

    margin-top: 12px;
    font-weight: 500;
    font-size: 15px;
    color: #007185;
}
.box p:hover{
cursor: pointer;
color: #ff0000b7;
}
.box:hover{
   transform: scale(1.01);
transition: all 0.3s ease-in-out ;

}
.footer1 {
    /* padding: 15px; */
    height: 60px;
    background-color:#232f3edc;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer1:hover{

cursor: pointer;
background-color: #232f3ea2;
}
.footer2 {
    background-color: #232F3E;
    height: 370px;
    color: white;
    display: flex;
    justify-content: space-evenly;
}

.footer2 h3 {
    margin-top: 40px;
    margin-bottom: 23px;
}

.footer2 p {
    padding-top: 10px;
    color: #ccc;
}

.footer2 p:hover {
    cursor: pointer;
    /* border-bottom: 1px solid #ccc; */
    text-decoration: underline;
}

.line {
    border-bottom: 1px solid #ccc;
width: 100%;

}
.footer3{
height: 150px;
width: 100%;
background-color: #232F3E;
display: flex;
align-items: center;
justify-content:center;
}
.left1{
    height: 70px;
    width:150px;
    background-size: cover;
    margin-right: 55px;
   
}
.left1:hover{
cursor: pointer;

}
.right1{
display: flex;
justify-content: center;
align-items: center;
}
.right1:hover{

    cursor: pointer;
}
.pad{
    
    border: 1px solid #ccc;
    margin-left: 10px;
height: 40px;
border-radius: 4px;
display: flex;
justify-content: center;
align-items: center;
}
.opt{
padding: 0px 16px;
background-color:#232F3E ;
color: white;
cursor: pointer;
}
.currency{
color: white;
padding: 5px;
}
.nation{
    color: white;
    padding: 8px;
}
.footer4{
height: 80px;
width: 100%;
background-color: #131921;
color: white;
text-align: center;
font-size: 14px;
}
.box-variable{
display: flex;
justify-content: center;
align-items: center;
padding-top: 20px;
}
.box-element{
    
   
margin-left: 15px;
}
.box-element:hover{
border-bottom: 1px solid #ccc;
    cursor: pointer;
}
.footer4 p{

    padding-top: 5px;
}